<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/res/fomanticui/semantic.min.css}">
    <script th:src="@{/res/fomanticui/semantic.min.js}"></script>
    <style>
        .customBackgroundColor{
            background-color: #252525;
        }
    </style>
</head>
<body class="ui customBackgroundColor">
<div th:replace="fragments/menubar :: menubar"></div>
<div class="fluid container">
    <div class="ui hidden divider"></div>

    <main class="ui container">

        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>

        <div class="ui center aligned inverted segment">
            <h1>All Clients</h1>
        </div>

        <div class="ui hidden divider"></div>

        <table class="ui inverted celled table">

            <thead>
            <tr>
                <th>ID <i class="hashtag icon"></i></th>
                <th>First Name <i class="user icon"></i></i></th>
                <th>Last Name <i class="user icon"></i></i></th>
                <th>Phone Number <i class="phone icon"></i></th>
                <th>Email <i class="at icon"></i></th>
                <th>Actions <i class="cog icon"></i></th>
            </tr>
            </thead>

            <tbody>
            <!--/*@thymesVar id="allClients" type="java.util.List"*/-->
            <!--/*@thymesVar id="client" type="pl.polsl.student.barberio.model.User"*/-->
            <tr th:each="client:${allClients}">
                <td th:text="${client.getId()}"></td>
                <td th:text="${client.getFirstName()}"></td>
                <td th:text="${client.getLastName()}"></td>
                <td th:text="${client.getPhoneNumber()}"></td>
                <td th:text="${client.getEmail()}"></td>
                <td>
                    <a class="ui label" th:href="@{/admin/showappointments/{id}(id=${client.getId()})}">Show appointments</a>
                </td>
            </tr>
            </tbody>
        </table>

    </main>

</div>


</body>
</html>