<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New appointment | BarberIO</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/res/fomanticui/semantic.min.css}">
    <script th:src="@{/res/fomanticui/semantic.min.js}"></script>
</head>
<body>
<main class="ui text container">
    <!--/*@thymesVar id="duties" type="java.util.List"*/-->
    <!--/*@thymesVar id="form" type="pl.polsl.student.barberio.form.ClientNewAppointmentForm"*/-->
    <!--/*@thymesVar id="duty" type="pl.polsl.student.barberio.model.Duty"*/-->
    <form th:action ="@{/newappointment}" class="ui form" th:object="${form}" method="POST">
        <label>Select duty</label>
        <select class="form-control" id="dutyDropDownList">
            <option value="null"></option>
            <option th:each="duty:${duties}" th:value="${duty.getName()}" th:text="${duty.getName()}">
            </option>
        </select>

        <label>Select date</label>
        <select class="form-control" id="timeSelector">
            <option value="null"></option>
            <option th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
            </option>
        </select>

    </form>
</main>
</body>
</html>