<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/res/fomanticui/semantic.min.css}">
    <script th:src="@{/res/fomanticui/semantic.min.js}"></script>
</head>
<body>
<h1>All appointments</h1>
<table class="ui celled table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Duty</th>
        <th>Client</th>
        <th>Employee</th>
        <th>Confirmed</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="allAppointments" type="java.util.List"*/-->
    <!--/*@thymesVar id="appointment" type="pl.polsl.student.barberio.model.Appointment"*/-->
    <!--/*@thymesVar id="appointmentService" type="pl.polsl.student.barberio.service.AppointmentService"*/-->
    <tr th:each="appointment:${allAppointments}">
        <td th:text="${appointment.getDate().toString()}"></td>
        <td th:text="${appointment.getDuty().getName()}"></td>
        <td th:text="${appointment.getCustomer().getFirstName()}+${appointment.getCustomer().getLastName()}"></td>
        <td th:text="${appointment.getEmployee().getFirstName()}+${appointment.getEmployee().getLastName()}"></td>
        <td th:switch="${appointment.isConfirmation()}">
            <div th:case="true">Confirmed</div>
            <a class="ui button" th:case="false" th:href="@{/confirmAppointment/{id}(id=${appointment.getId()})}">Confirm</a>
        </td>

        <td ><a th:href="@{/cancelAppointment/{id}(id=${appointment.getId()})}" th:class="${appointment.isCancelled() ? 'ui disabled button' : 'ui button'}">
            Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>