<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BarberIO</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/res/fomanticui/semantic.min.css}">
    <script th:src="@{/res/fomanticui/semantic.min.js}"></script>
</head>
<body>

<div class="fluid container">

    <div class="ui raised segments">

        <div class="ui top fixed inverted menu">

            <div class="item">
                <img alt="IO-Startup-Bruhs logo"
                     src="https://avatars.githubusercontent.com/u/117726947?s=400&u=8c640b29d3c5d3152574f7d05f58e393ace513ce&v=4">
            </div>

            <div class="right aligned menu">
                <a th:href="@{/signup}" class="ui item">
                    <i class="pen icon" style="visibility: visible;">
                    </i>
                    <span class="ui medium text">Sign up</span>

                </a>

                <a th:href="@{/login}" class="ui item">
                    <i class="user icon" style="visibility: visible;">
                    </i>
                    <span class="ui medium text">Sign in</span>
                </a>

            </div>

        </div>

    </div>


    <img alt="barber salon banner with Barber.IO name" class="ui fluid image" src="https://iili.io/H57i6OP.png">

    <div class="ui hidden divider"></div>


    <div class="ui segment">

        <div class="ui three column stackable grid">

            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img alt="Barber cutting beard" src="https://iili.io/H57UwDG.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Expert Barbers</a>
                        <p>At Barber.io, we pride ourselves on providing top-quality haircuts and beard trims in a
                            relaxed and friendly environment. Our team of experienced barbers will ensure that you leave
                            looking and feeling your best.</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img alt="Barber looking down on client" src="https://iili.io/H57gDQf.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Comfortable Atmosphere</a>
                        <p>At Barber.io, we believe that a visit to the barber should be a relaxing and enjoyable
                            experience. That's why we have created a comfortable and welcoming atmosphere for our
                            clients. You can sit back and unwind while we take care of the rest.</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img alt="Barber spraying hairspray" src="https://iili.io/H57rKhb.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Convenient Location</a>
                        <p>We are located in the heart of the city, making it easy for you to stop by for a haircut or
                            beard trim on your lunch break or after work. We are open six days a week and offer
                            appointment scheduling to fit your busy schedule.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="ui very padded segment">
                <span class="ui large text"><p>Welcome to Barber.io, your premier destination for all of your barbering needs. Our shop has a rich history dating back to the early 20th century, when our founder first opened the doors to serve the community with top-notch haircuts and grooming services.</p>

                            <p>Over the years, Barber.io has become a beloved institution in the community, known for our skilled barbers, comfortable atmosphere, and commitment to providing the best customer experience possible. From classic cuts to modern styles, our team is equipped to handle any haircut you desire.</p>

                    <p>In addition to haircuts, we also offer a variety of other services such as beard trims, hot towel shaves, and facial grooming. Whatever your grooming needs may be, our team is ready to give you the royal treatment.

                        We hope to see you soon at Barber.io, where we look forward to giving you the haircut you deserve.</p></span>
        </div>

    </div>


    <div class="ui inverted vertical footer segment">
        <div class="ui hidden divider"></div>
        <h4>Copyright Barber.io 2022</h4>
        <p>Contact us: info@barber.io | 123-456-789</p>
    </div>


</div>

</body>
</html>