<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New employee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/res/fomanticui/semantic.min.css}">
  <script th:src="@{/res/fomanticui/semantic.min.js}"></script>
</head>
<body>
<main class="ui text container">

  <div class="ui hidden divider"></div>

  <div class="ui raised segments">

    <div class="ui center aligned segment">
      <h1>NEW EMPLOYEE:</h1>
    </div>

    <div class="ui very padded segment">

      <!--/*@thymesVar id="form" type="pl.polsl.student.barberio.form.NewEmployeeForm"*/-->
      <form th:action="@{/admin/useroperations/newemployee}" class="ui form" th:object="${form}" method="POST">
        <div th:class="${#fields.hasErrors('email')}? 'field error' : 'field'">
          <label>E-Mail</label>
          <input type="email" name="email" th:field="*{email}" placeholder="mike@wazowsky.inc">
        </div>
        <div th:class="${#fields.hasErrors('password')}? 'field error' : 'field'">
          <label>Password</label>
          <input type="password" name="password" th:field="*{password}" placeholder="********">
        </div>
        <div th:class="${#fields.hasErrors('confirmPassword')}? 'field error' : 'field'">
          <label>Confirm password</label>
          <input type="password" name="password" th:field="*{confirmPassword}" placeholder="********">
        </div>
        <div th:class="${#fields.hasErrors('firstName')}? 'field error' : 'field'">
          <label>First name</label>
          <input type="text" name="firstName" th:field="*{firstName}" placeholder="Mike">
        </div>
        <div th:class="${#fields.hasErrors('lastName')}? 'field error' : 'field'">
          <label>Last name</label>
          <input type="text" name="lastName" th:field="*{lastName}" placeholder="Wazowsky">
        </div>
        <div th:class="${#fields.hasErrors('phoneNumber')}? 'field error' : 'field'">
          <label>Phone number</label>
          <input type="text" name="phoneNumber" th:field="*{phoneNumber}" placeholder="666666666">
        </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</main>
</body>
</html>