<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in | BarberIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/res/fomanticui/semantic.min.css}">
    <script th:src="@{/res/fomanticui/semantic.min.js}"></script>
    <style>
        .customBackgroundColor{
            background-color: #252525;
        }
    </style>
</head>

<body class="customBackgroundColor ui">

<main class="ui text container">

    <div class="ui hidden divider"></div>


    <div class="ui raised segments">
        <div class="ui inverted center aligned segment">
            <h1>Choose employee:</h1>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui inverted center aligned segment">
            <form th:action="@{/client/newAppointment}" method="post" class="ui form">
                <label for="formName">Date: </label><input type="text" id="formName" name="formValue">
                <div class="ui hidden divider"></div>
                <button type="submit" class="ui button">Next</button>
            </form>

        </div>
    </div>
</main>
</body>
</html>